<app-navbar></app-navbar>
<div class="home">
    
    <h1 class="heading">
    </h1>
    <img class="logo" alt="Angular Logo" src="../../assets/Images/gmdb.jpg"/>
    <form [formGroup]="searchForm" class="form-inline search">
        <div class="dropdown" aria-placeholder="Hi">
        <select class="form-control" formControlName="criteria" >
            <option *ngFor="let value of criteriaDropdownValues" value="{{value}}">{{value}}</option>
        </select>
        </div>
        <input class="form-control " formControlName="textInput" type="text" placeholder="What are you looking for?" class="searchTerm"> 
        <button class="btn btn-rounded btn-sm btn-primary" type="submit" (click)="submit()">Search</button>
    </form>
</div>
