.error {
    color: #e74c3c
}
.btn {
    background-color: #2E7BFF;
    color: aliceblue
}

.container {
    align-content: center;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.60), 
        rgba(0, 0, 0, 0.60)
      ),url(../../assets/Images/maze.jpg) !important; /* W3C */
    height: 100vh;
   max-width: 100%;
}

.row {
    align-content: center;
}